*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 1.2;
}

a {
  color: #000;
}

body {
  background: #ddd;
}

.paper {
  background: #fff;
  margin: auto;
}

.paper.inner {
  height: 100%;
  position: relative;
}

.paper.a4 {
  width: 21cm;
  padding: 1.2cm 1cm;
}

@page {
  size: A4;
  padding: 0;
  margin: 1.2cm 1cm;
}

@media print {
  body,
  html {
    background: #fff;
    font-size: 14px;
  }

  .paper.a4 {
    margin: 0;
    padding: 0;
  }
}

li {
  list-style: none;
  display: flex;
}

li::before {
  content: '•';
  display: inline;
  padding-right: 0.4rem;
  font-size: 0.8rem;
  transform: translateY(2px);
}

li:not(:last-of-type) {
  margin-bottom: 0.2rem;
}

td,
th {
  text-align: left;
}

.text.size-20 {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.spacer {
  display: block;
  height: 1rem;
  page-break-before: avoid;
  page-break-inside: avoid;
}

.spacer.size-2 {
  height: 0.2rem;
}

.spacer.size-4 {
  height: 0.4rem;
}

.spacer.size-6 {
  height: 0.6rem;
}

.spacer.size-8 {
  height: 0.8rem;
}

.spacer.size-10 {
  height: 1rem;
}

.spacer.size-12 {
  height: 1.2rem;
}

.spacer.size-16 {
  height: 1.6rem;
}

.section {
  break-inside: avoid;
}

.flex,
.flex.container,
.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.gap {
  gap: 0.2rem;
}

.pill {
  background: #555;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.2rem;
  align-items: center;
  font-size: 0.7rem;
}
